

/* background color */




/* Positioning */


/* Row and Column section */



/* website title */

/* options? link */


/* crypto options */

/* additional information */


.modal-card{
    width: 50%;
    
}

.form-control{
    width: 70%;    
}

.secContainer{
    box-sizing: border-box;
    border: solid green;
    width: 20%;
    padding-bottom: 10%;    
    background-color: rgba(205, 247, 177, 0.795);
}

.listView{
    border-style: solid;    
    margin-left: 20%;
    margin-right: 20%; 
    text-align: center;
    margin-bottom: -5%;
    background-color: rgba(144, 247, 166, 0.856);
}

.listTop{    
    border-style: solid;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgba(31, 194, 17, 0.767);
}

.modal-custom{    
    margin-left: 6%;
    display: flex;
    width: 10%;
    /* color: #9393e6; */
}

/* 24 hour Percent Changes */
.negative_change, 
.positive_change,
.no_change
{
    font-weight: bold;
    color: white;
    
    border-radius: 15px;
    max-width: fit-content;
    padding: 5px;
}

.negative_change
{
    background-color: tomato;
}

.positive_change
{
    background-color: lightgreen;
}

.no_change
{
    background-color: lightcyan
}
