
*
{
    font-family: 'Quicksand', sans-serif;
}

.cryptoDisplay
{
    width: 100%;
    max-width: 100%;
}

#cryptoCurrencyOptions 
{ 
    min-height:100vh;
    padding: unset;
}

@media screen and (max-width: 768px) { #cryptoCurrencyOptions { min-height: unset } }

/* ---Crypto Selection Menu Styling--- */
.secContainer
{
    box-sizing: border-box;
    border: solid green; 
    padding-bottom: 10%;    
    background-color: rgba(205, 247, 177, 0.795);
}

.listView
{
    border-style: solid; 
     /* margin-left: 20%; */
    /* margin-right: 20%;  */
    text-align: center;
    background-color: rgba(144, 247, 166, 0.856);
}

.listTop
{    
    /* border-style: solid; */
    margin-bottom: 5%;
    text-align: center;
    background-color: rgba(31, 194, 17, 0.767);
}

/* Modal Menu Styling */
.modal-card { width: 50%; }

.form-control { width: 70%; }

.modal-custom 
{
    margin: auto;
    display: flex;
    width: 50%;
}

/* ---24 hour Info Styling--- */
#dailyHourInfo h1
{
    font-weight: bold;
    margin-top: 1vh;
}

#dailyHourInfo p h3
{
    margin-top: 0.5vh;
    color:rgb(133, 133, 133);
}

/* 24 hour Percent Changes - Changes the color of percent change to indicate whether it is positive, negative, or neutral */
.negative_change, 
.positive_change,
.no_change
{
    font-weight: bold;
    color: white;
    
    border-radius: 15px;
    max-width: fit-content;
    padding: 5px;
}

.negative_change { background-color: rgb(241, 76, 47); }

.positive_change { background-color: rgb(62, 236, 62); }

.no_change { background-color: rgb(199, 199, 199) }

/* historical data buttons */
.data {
    margin-top: 175px;
    margin-right: 20px;
    }